DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/course_compass"
PORT=3000
JWT_SECRET=YOUR_JWT_SECRET

# 邮件服务配置 (Gmail SMTP)
#步骤：1.登录想发邮箱的Google账号，进入https://myaccount.google.com/security；
# 2.开启“两步验证” ； 3. 搜索 APP passwords，验证身份， 然后创建应用名称方便识别，复制弹出的16位字母，放到下面。
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_16_digit_app_password